.main-container {
  display: flex;
  flex-direction: column;
  width: 73%;
  margin: 100px auto;
}

.container > * {
  margin: 5px;
}

.reset-all-button {
  border: none;
  color: white;
  background-color: #af4c4c;
  padding: 10px 45px;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
  width: 30%;
}

.loading-text {
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 2%,
    rgba(121, 9, 118, 0.9304096638655462) 58%,
    rgba(209, 0, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
  height: 800px;
}

@media screen and (max-width: 600px) {
  .reset-all-button {
    padding: 10px;
    width: 60%;
  }
}
