<footer>
  <p>
    Code by <a href="https://github.com/serkanisyapan" target="_blank"
      >serkanisyapan</a
    >
  </p>
  <p>🐱 2024</p>
</footer>

<style>
  footer {
    margin: 0 auto;
    text-align: center;
    gap: 1rem;
    font-size: 20px;
    padding: 1rem;
    color: white;
    background-color: black;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
</style>
